@model Blogy_MVC.Models.ViewModels.EditBlogPostRequest;

<div class="bg-primary bg-gradient text-white py-4 mb-4">
    <div class="container">
        <h2 class="mb-0">Edit Blog Post - Admin Functionality</h2>
    </div>
</div>



<div class="container">
    <form method="post" class="mt-4">
        <div class="mb-3">
            <label class="form-label">Heading</label>
            <input type="text" class="form-control" id="heading" asp-for="Heading" readonly>
        </div>
        <div class="mb-3">
            <label class="form-label">Page Title</label>
            <input type="text" class="form-control" id="pageTitle" asp-for="Tags">
        </div>
        @* <div class="mb-3">
            <label class="form-label">Author</label>
            <input type="text" class="form-control" id="author" asp-for="Author">
        </div> *@

        <div class="flex gap-2">
            <button type="submit" class="btn btn-secondary">Update</button>
            @* <button type="submit" class="btn btn-danger" asp-controller="AdminTags" asp-action="Delete">
                Delete
            </button> *@
        </div>
    </form>

</div>
